.order-container {
  background: rgb(234, 237, 237);
  height: 100vh;
  width: 100%;
  .order-content {
    width: 1270px;
    margin: 0 auto;
    .order-body {
      display: flex;
      gap: 20px;
      .order-left {
        display: flex;
        gap: 10px;
        flex-direction: column;
        .order-up {
          background: #ffffff;
          height: 50px;
          width: 900px;
          display: flex;
          border-radius: 10px;
          padding: 0 10px;
          box-sizing: border-box;
          .header-up {
            width: 350px;
            display: flex;
            align-items: center;
          }
          .header-down {
            display: flex;
            gap: 110px;
            align-items: center;
          }
        }
        .order-down {
          background: #ffffff;
          height: 90px;
          width: 900px;
          border-radius: 10px;
          display: flex;
          padding: 0 10px;
          box-sizing: border-box;
          .list-up {
            width: 350px;
            display: flex;
            align-items: center;
          }
          .list-down {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .price {
              width: 140px;
            }
            .amount {
              display: flex;
              gap: 5px;
              width: 100px;
              .input-number {
                width: 40px;
              }
              button {
                outline: none;
                background: transparent;
                border: 1px solid gray;
                border-radius: 5px;
              }
            }
            .into-money {
              width: 270px;
              text-align: center;
            }
          }
        }
      }
      .order-right {
        .order-right-content {
          background: #ffffff;
          height: 200px;
          width: 300px;
          border-radius: 10px;
          padding: 10px;
          box-sizing: border-box;
          .order-infor {
            height: 70%;
            display: flex;
            flex-direction: column;
            gap: 15px;
            .provisional,
            .delivery-charges,
            .tax,
            .discount {
              display: flex;
              justify-content: space-between;
            }
          }
          .order-total {
            display: flex;
            justify-content: space-between;
            .total {
              display: flex;
              flex-direction: column;
              .number-total {
                font-size: 20px;
                color: red;
                font-weight: 700;
              }
            }
          }
        }

        button {
          margin-top: 10px;
          height: 50px;
          background: red;
          width: 300px;
          border: none;
          border-radius: 10px;
          color: #ffffff;
          font-size: 16px;
        }
      }
    }
  }
}
